 body {
      margin: 0;
      background-color: #c2cbd3;
      color: #e5e7eb;
      font-family: "Segoe UI", sans-serif;
    }

    .sidebar {
      width: 250px;
      height: 100vh;
      position: fixed;
      background: #020617;
      padding: 20px;
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    .logo {
      font-family: "Rubik Vinyl", system-ui;  
      font-size: 22px;
      font-weight: bold;
      color: #14b8a6;
      margin-bottom: 30px;
    }

    .sidebar a {
      display: block;
      padding: 12px;
      color: #9ca3af;
      text-decoration: none;
      border-radius: 8px;
      margin-bottom: 8px;
    }

    .sidebar a:hover,
    .sidebar a.active {
      background: #14b8a6;
      color: #ffffff;
    }

    .content {
      margin-left: 270px;
      padding: 30px;
    }

    .card {
      background: #01030b;
      border-radius: 12px;
      border: none;
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    .table thead {
      background: #020617;
    }

    .table th, .table td {
      color: #e5e7eb;
      vertical-align: middle;
    }

    .btn-green {
      background: #14b8a6;
      color: white;
      border: none;
    }

    .btn-green:hover {
      background: #0d9488;
    }

    .user-box {
      position: absolute;
      bottom: 20px;
      width: 210px;
    }

    .heading{
      color: #110917;
      font-family: "Metamorphous", serif;
      font-weight: 400;
      font-style: normal;
    }

    .btn-delete{
      background: #ef4444;
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 4px;
      margin-left: 5px;
    }

    #card{
      border-radius: 16px;
      border: 1px solid rgba(55, 46, 46, 0.3);
      box-shadow: 0 8px 32px rgba(0,0,0,0.25);
      color:white;

    }